* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(to top, #0F2747, #163A63);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container,
.info-container {
    width: 100%;
    max-width: 500px;

    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 480px;
}

.info-container {
    min-height: 200px;
    margin-top: 30px;
}

h1 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    color: #172033;
}

h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #172033;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    padding: 10px;
    font-size: 20px;
    color: #172033;
}

input {
    width: 120px;
    height: 30px;

    border: 1px solid #64748B;
    border-radius: 5px;

    font-size: 15px;
    text-align: center;
    color: #0F2747;
}

p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #64748B;
}

input[type="submit"],
#cleanBtn {
    width: 120px;
    height: 40px;
    margin: 10px;

    border: none;
    border-radius: 5px;

    font-size: 18px;
    color: #FFF;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #2563EB;
}

input[type="submit"]:hover {
    background-color: #1D4ED8;
}

#cleanBtn {
    background-color: #8C8C8C;
}

#cleanBtn:hover {
    background-color: #666;
}
